{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container mt-12">

  <div class="grid sm:grid-cols-3 gap-12 ml-10 mt-12">
    <!-- profile details -->
    <div class="sm:col-span-1 ">
      <div>
        <div class="row-span-2 ">
          <h1 class="text-3xl bg-cover">{{object.name}}</h1>
          <img class="bg-cover" src={{ object.avatar.url }} alt="profile pic">
        </div>
        <div>
          <table class="ui table">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{object.name}}</td>
                </tr>
                <tr>
                    <td>bio:</td>
                    <td>{{object.bio}}</td>
                </tr>
                <tr>
                    <td>country:</td>
                    <td>{{object.country.name}}</td>
                </tr>
                <tr>
                    <td>gender:</td>
                    <td>{{object.gender}}</td>
                </tr>
                <tr>
                    <td>favourite:</td>
                    <td>{{object.favourite}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
    <!-- info update section -->
    <div class="sm:col-span-2 grid justify-center mx-10 sm:ml-32 sm:p-20">
      <div class="">
        <div class=" m-4 flex justify-end">
          
          {% if object.id != request.user.id %}
            {% if frnd_btn_state == 'ACCEPTED' %}
              <a class="btn-red" href="{% url 'relationships:remove_frnd' object.id %}" role="button">Remove</a>
            {% elif frnd_btn_state == 'NONE'  %}
              <a class="btn-green" href="{% url 'relationships:send_freq' object.id %}" role="button">Send Request</a>  
            {% elif frnd_btn_state == 'SEND'  %}
            <a class="btn-yellow" href="{% url 'relationships:cancel_sent_freq' object.id %}" role="button">Request Sent</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    
      {% if object.id == request.user.id %}
      <!-- Action buttons -->
      <div class="flex justify-end">
    
        <div class="">
          <a class="btn-green" href="{% url 'profiles:update' %}" role="button">My Info</a>
          <a class="btn" href="{% url 'account_email' %}" role="button">E-Mail</a>
          <!-- Your Stuff: Custom user template urls -->
        </div>
    
      </div>
    
      <div class="">
        <h3>Friend list: </h3>
        {% for friend in object.get_all_friends %}
          <li><a href="{{ friend.get_absolute_url }}">{{ friend }}</a></li>
        {% endfor %}
      </div>
      {% if frnd_req_rcvd %}
        <div class="">
          <h3>Friend Request:</h3>
          {% for item in frnd_req_rcvd %}
            <li class="mb-2">
              <a href="{{ item.sender.get_absolute_url }}">{{ item.sender.name }}</a>
              <a class="btn" href="{% url 'relationships:accept_frnd' item.sender.id %}" role="button">Accept</a>
              <a class="btn" href="{% url 'relationships:cancel_frnd' item.sender.id %}" role="button">Reject</a>
            </li>
          {% endfor%}
        </div>
      {%endif%}
      <!-- End Action buttons -->
      {% endif %}
    
        <div class="">
          {% for obj in object.get_all_posts %}
                <div class="">
                    <div class=" border border-teal-500 shadow-mdgreen py-12">
                        <div class="grid grid-cols-12 justify-self-stretch">
                            <img class=" ml-4 col-span-1 inline-block h-20 w-20 rounded-full text-white shadow-solid flex-col" src={{obj.author.avatar.url}} alt="pp">
                            <a href="{{ obj.author.user.profile.get_absolute_url }}" class="mx-6 text-teal-500 col-span-9 text-3xl grid items-center col-span-1">{{ obj.author.user.profile.name }}</a>
                            <small class="mr-6 col-span-1 grid items-center">{{obj.created|timesince }}</small>    
                        </div>
                        {% if obj.image %}
                            <img class="mt-6" src={{obj.image.url}} class=" h-auto">
                        {% endif %}
                        <div class="p-4 text-gray-400 text-3xl"> <p> {{ obj.content }} </p></div>
                        <div class="like-comment bg-gray-900 border border-gray-900 border-r-0 border-l-0 flex justify-evenly">
                            <div>
                                <form action="{% url 'posts:like_post_list' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{obj.id}}>
                                    {% if profile not in obj.likes.all %}
                                        <button type="submit" class="ui bwhite-sm button">LIKE
                                        </button>
                                        <span> {{obj.num_likes}} likes</span>
                                    {% else %}
                                        <button type="submit" class="ui bwhite-sm button">UNLIKE
                                        </button>
                                        <span> {{obj.num_likes}} like{{ obj.num_likes|pluralize }}</span>
                                    {% endif %}
                                </form>
                            </div>
                            <button>Comment</button>
                        </div>
                        <div class="h-auto p-4">
                            <form action="#" method="POST"class='grid grid-cols-4 gap-4'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{obj.id}}>
                                <div class="col-span-3">
                                    {{ form|crispy }}
                                </div>
                                <button type="submit" name="submit_c_form" class="btn-green col-span-1 h-20">Send</button>
                            </form>
                        </div>
                        <div class="comment-expand">
                            {% if obj.comment_posted.all %}
                                {% with all_comments=obj.comment_posted.all %}
                                    {% for c in all_comments %}
                                    
                                        <div class="comment px-4 grid grid-cols-4 gap-20 items-center break-words">
                                            <div class="col-span-1 flex items-center">
                                                <img class=" ml-4 inline-block h-20 w-20 rounded-full text-white shadow-solid flex-col" src={{c.user.avatar.url}}>
                                                <span class="author col-span-1">{{ c.user.name }}</span>
                                            </div>
                                            <div class='mt-8 col-span-3'>{{ c.body }}</div>
                                            <!--
                                            {% if request.user.id == c.user.id %}
                                                <div class="comment-delete-edit"></div>
                                                    <button class="ui button p-2 large">
                                                        <a href="{% url 'posts:comment_update' c.pk %}">
                                                            <i class="edit icon gray"></i>
                                                            
                                                        </a>
                                                        <div class="hide">edit</div>
                                                    </button>
                                                    <button class="ui button p-2 large">
                                                        <a href="{% url 'posts:comment_delete' c.pk %}">
                                                            <i class="trash icon gray"></i>
                                                            
                                                        </a>
                                                        <div class="hide">delete</div>
                                                    </button>
                                                </div>
                                            {% endif %}-->
                                        </div>
                                    
                                    {% endfor %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
          {% if queryset %} asdf {% endif %}
        </div>
      </div>
      
  </div>
  <style>
    
  </style>
  

</div>

{% endblock content %}

