{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}main page{% endblock title %}

{% block content %}
<style>
    .card{
        max-width: 95%;
    }
    @media only screen and (min-width: 640px){
        .card{
            width: 480px;
        }
    }
</style>
<div class="ui grid container">
    <div class="container md:ml-20">
        <div class="grid sm:grid-cols-3 gap-12 mx-10 mt-12">
          <div class="sm:col-span-1 card sticky-post" id="post-area">
            <form action="" method="POST" class='ui form' enctype="multipart/form-data">
                {% csrf_token %}
                {{post_form|crispy }}
                <button type='submit' name="submit_p_form" class="btn-green">Send</button>
            </form>
          </div>
          
          {% for obj in queryset %}
            <div class="sm:col-span-2 grid justify-center">
                <div class="sm:ml-10 card border border-teal-500 py-6 shadow-mdgreen">
                    <div class="grid grid-cols-12 justify-self-stretch">
                        <img class=" ml-4 col-span-1 inline-block h-20 w-20 rounded-full text-white shadow-solid flex-col" src={{obj.author.avatar.url}} alt="pp">
                        <a href="{{ obj.author.user.profile.get_absolute_url }}" class="mx-6 text-teal-500 col-span-9 text-3xl grid items-center col-span-1">{{ obj.author.user.profile.name }}</a>
                        <small class="mr-6 col-span-1 grid items-center">{{obj.created|timesince }}</small>    
                    </div>
                    {% if obj.image %}
                        <img class="mt-6" src={{obj.image.url}} class=" h-auto">
                    {% endif %}
                    <div class="p-4 text-gray-400 text-3xl"> <p> {{ obj.content }} </p></div>
                    <div class="like-comment bg-gray-900 border border-gray-900 border-r-0 border-l-0 flex justify-evenly">
                        <div>
                            <form action="{% url 'posts:like_post_list' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{obj.id}}>
                                {% if profile not in obj.likes.all %}
                                    <button type="submit" class="ui bwhite-sm button">LIKE
                                    </button>
                                    <span> {{obj.num_likes}} likes</span>
                                {% else %}
                                    <button type="submit" class="ui bwhite-sm button">UNLIKE
                                    </button>
                                    <span> {{obj.num_likes}} like{{ obj.num_likes|pluralize }}</span>
                                {% endif %}
                            </form>
                        </div>
                        <button>Comment</button>
                    </div>
                    <div class="h-auto p-4">
                        <form action="" method="POST"class='grid grid-cols-4 gap-4'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{obj.id}}>
                            <div class="col-span-3">
                                {{ comment_form|crispy }}
                            </div>
                            <button type="submit" name="submit_c_form" class="btn-green col-span-1 h-20">Send</button>
                        </form>
                    </div>
                    <div class="comment-expand">
                        {% if obj.comment_posted.all %}
                            {% with all_comments=obj.comment_posted.all %}
                                {% for c in all_comments %}
                                
                                    <div class="comment px-4 grid grid-cols-4 gap-20 items-center break-words">
                                        <div class="col-span-1 flex items-center">
                                            <img class=" ml-4 inline-block h-20 w-20 rounded-full text-white shadow-solid flex-col" src={{c.user.avatar.url}}>
                                            <span class="author col-span-1">{{ c.user.name }}</span>
                                        </div>
                                        <div class='mt-8 col-span-3'>{{ c.body }}</div>
                                        <!--
                                        {% if request.user.id == c.user.id %}
                                            <div class="comment-delete-edit"></div>
                                                <button class="ui button p-2 large">
                                                    <a href="{% url 'posts:comment_update' c.pk %}">
                                                        <i class="edit icon gray"></i>
                                                        
                                                    </a>
                                                    <div class="hide">edit</div>
                                                </button>
                                                <button class="ui button p-2 large">
                                                    <a href="{% url 'posts:comment_delete' c.pk %}">
                                                        <i class="trash icon gray"></i>
                                                        
                                                    </a>
                                                    <div class="hide">delete</div>
                                                </button>
                                            </div>
                                        {% endif %}-->
                                    </div>
                                
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    
    
</div>
{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
            $(".st_btn").click(function () {
                if (display===false) {
                    $(this).next(".menu").show("slow");
                    display=true
                } else {
                    $(this).next(".menu").hide("slow");
                    display=false
                }  
            });
            $(".nv_btn").click(function () {
                if (display===false) {
                    $(this).next(".nv.menu").show("slow");
                    display=true
                } else {
                    $(this).next(".nv.menu").hide("slow");
                    display=false
                }  
            });
             
        });
        
    </script>
{% endblock scripts %}