{% extends "base.html" %}
{% block title %}
 posts
{% endblock title %}

{% block content %}

<div class="ui grid">
    <div class="row">
        <div class="eleven wide column">
            {% for obj in queryset%}
            <div class="ui fluid card">
                <div class="content">
                    {{ obj.content }}
                </div>
                <div class="content">
                    <form action="{% url 'posts:like_post_list'%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ obj.id }}">
                        <button type="submit" class="ui primary button">

                            {% if profile not in obj.liked.all %}
                                <i class="thumbs up icon"></i>
                            {% else %}
                                <i class="thumbs down icon"></i>
                            {% endif %}

                        </button>
                        &nbsp;{{obj.num_likes}}
                    </form>
                </div>
                <div class="content">
                    {% if obj.comment_set.all %}
                        {% for comment in obj.comment_set.all%}
                            <p>{{ comment.body }}</p>
                        {% endfor %}
                    {%endif%}
                </div>
                <div class="content">
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value='{{obj.id}}'>
                        {{comment_form}}
                        <button type="submit" class="ui primary button" name='submit_c_form'>Comment</button>
                    </form>
                </div>
            </div>
            {% endfor%}
        </div>
        <div class="five wide column">
            <form action="" method="post" class="ui form" enctype="multipart/form-data">
                {% csrf_token %}
                {{post_form.as_p}}
                <button type="submit" class="ui button positive" name="submit_p_form">Post</button>
            </form>
        </div>
    </div>
</div>



{% endblock content %}